	<!-- Footer -->
	<section id="footer" class="section-pad pb-2">
		<section class="footer-top-quick-links">
			<div class="container">
				<div class="top-footer">
					<nav class="footer-nav-links">
						<ul class="d-flex">
							<li>
								<a href="#" class="mx-2">
									quick links
									<i class="fa fa-angle-right mx-1"></i>
								</a>
							</li>
							<li>
								<a href="#" class="mx-3">
									disclaimer
								</a>
							</li>
							<li>
								<a href="#" class="mx-3">
									help & support
								</a>
							</li>
							<li>
								<a href="#" class="mx-3">
									sitemap
								</a>
							</li>
							<li>
								<a href="#" class="mx-3">
									privacy policy
								</a>
							</li>
							<li>
								<a href="#" class="mx-3">
									webmail
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div><!-- / Container -->
		</section><!-- / Top-Footer-Links -->

		<!-- / Bottom-Footer -->
		<section class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="row">
							<div class="col-lg-4">
								<h2 class="bottom-footer-heading">personal banking</h2>
								<ul class="bottom-footer-links">
									<li>
										<a href="#">everyday accounts</a>
									</li>
									<li>
										<a href="#">theme branches</a>
									</li>
									<li>
										<a href="#">saving & term deposits</a>
									</li>
									<li>
										<a href="#">credit & debit cards</a>
									</li>
									<li>
										<a href="#">digital banking services</a>
									</li>
									<li>
										<a href="#">myABL digital application</a>
									</li>
								</ul>
							</div><!-- / Col-4 -->
							<div class="col-lg-4">
								<h2 class="bottom-footer-heading">other services</h2>
								<ul class="bottom-footer-links">
									<li>
										<a href="#">everyday accounts</a>
									</li>
									<li>
										<a href="#">theme branches</a>
									</li>
									<li>
										<a href="#">saving & term deposits</a>
									</li>
									<li>
										<a href="#">credit & debit cards</a>
									</li>
									<li>
										<a href="#">digital banking services</a>
									</li>
								</ul>
							</div><!-- / Col-4 -->
							<div class="col-lg-4">
								<h2 class="bottom-footer-heading">other links</h2>
								<ul class="bottom-footer-links mb-4">
									<li>
										<a href="#">everyday accounts</a>
									</li>
									<li>
										<a href="#">theme branches</a>
									</li>
									<li>
										<a href="#">saving & term deposits</a>
									</li>
								</ul>
								<h2 class="bottom-footer-heading">Downloads</h2>
								<ul class="bottom-footer-links">
									<li>
										<a href="#">everyday accounts</a>
									</li>
									<li>
										<a href="#">theme branches</a>
									</li>
									<li>
										<a href="#">saving & term deposits</a>
									</li>
									<li>
										<a href="#">credit & debit cards</a>
									</li>
								</ul>
							</div><!-- / Col-4 -->
						</div><!-- / Row -->
					</div><!-- / Col-8 -->
					<div class="col-lg-3">
						<h2 class="bottom-footer-heading">request a call back</h2>
						<form id="request-form">
							<div class="mb-3">
								<input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Name">
							</div>
							<div class="mb-3">
								<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address">
							</div>
							<div class="mb-3">
								<input type="text" class="form-control" placeholder="Contact Number">
							</div>
							<div class="mb-3">
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
							</div>
							<button type="submit" class="btn req-form-btn col-lg-5">Submit</button>
						</form>
					</div><!-- / Col-4 -->
				</div><!-- / Row -->
				<div class="row justify-content-between subsidiry-wrapper">
					<div class="col-lg-4">
						<h2 class="bottom-footer-heading">SUBSIDIARIES</h2>
						<img src="assets/img/subsid-img.png" class="img-fluid">
					</div><!-- Col-4 -->
					<div class="col-lg-3 col-sm-7 col-7">
						<ul class="d-flex flex-wrap">
							<li class="me-1 mb-1">
								<img src="assets/img/app-store.png">
							</li>
							<li class="me-1 mb-1">
								<img src="assets/img/video.png">
							</li>
							<li class="me-1 mb-1">
								<img src="assets/img/exchange.png">
							</li>
							<li class="me-1 mb-1">
								<img src="assets/img/app-store.png">
							</li>
							<li class="me-1 mb-1">
								<img src="assets/img/hand-cursor.png">
							</li>
							<li class="me-1 mb-1">
								<img src="assets/img/jama-punji.png">
							</li>
						</ul>
					</div><!-- / Col-3 -->
				</div><!-- / Row -->
				<div class="divider"></div>
				<div class="col-12">
					<div class="d-lg-flex justify-content-lg-between align-items-center">
						<div class="copy-rights-text">
							<p>© 2021 Copyright Allied Bank Limited. All Rights Reserved. Evamp & Saanga</p>
						</div>
						<div class="social-media-images d-flex justify-content-center">
							<ul class="d-flex flex-wrap">
								<li class="mx-1">
									<img src="assets/img/fb.png">
								</li>
								<li class="mx-1">
									<img src="assets/img/twit.png">
								</li>
								<li class="mx-1">
									<img src="assets/img/insta.png">
								</li>
								<li class="mx-1">
									<img src="assets/img/link.png">
								</li>
								<li class="mx-1">
									<img src="assets/img/yt.png">
								</li>
							</ul>
						</div>
					</div>
				</div><!-- / Col-12 -->
			</div><!-- / Container -->
		</section><!-- / Bottom-Footer -->
	</section>
	<!-- / Footer -->