/*********************
TYPOGRAPHY
**********************/
@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto|Roboto+Slab|Ubuntu&display=swap');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
*/





/*********************
NAVBAR
**********************/
/*.top-wrapper{
width: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 1000;
}*/


.custom-bg{
background-color: #fff !important;
}

.navbar-nav > a{
padding-left:20px !important;
padding-right:20px !important;
}
.nav-link  {
font-family: 'Poppins', sans-serif;
transition: .4s;
}
.nav-link:hover  {
color: red !important;
}
.my-brand{
text-transform: uppercase;
font-size: 22px;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
letter-spacing: 1px;
}


/*********************
HOME-PARALLAX
**********************/

#home{
background: url(../img/home-bg.jpg) no-repeat top;
background-position: center center;
background-attachment: fixed;
background-size: cover;
display: flex;
align-items: center;
height: 100vh;
text-align: left;
}
.text-ff{
color:#fff;
}
.wrap-text{
margin-top: 140px;
}
.wrap-text h3{
font-family: 'Poppins', sans-serif;
font-size: 35px;
}
.welcome-client{
font-family: 'Poppins', sans-serif;
text-transform: capitalize;
}
.welcome-client span {
color: red;
font-weight: 700;
}
.welcome-client p{
font-family: 'Poppins', sans-serif;

}

/*.parallax-home{
padding: 50px 0;
background-attachment: fixed;
background-size: cover;
}*/
.dos{
list-style-type: none;
padding: 0;
margin: 0;
}
.form-box{
background:#fff;
border-bottom: 5px solid#ff0000;
padding: 30px;
margin-top: 50px;
width: 100%;
}
.form-box h3{
font-family: 'Poppins', sans-serif;
text-transform: capitalize;
color:#444;
margin: 0 0 15px 0;
text-align: center;
font-size: 24px;

}
.form-box .form-row{
margin-bottom: 15px;
}
.form-box input {
font-family: 'Poppins', sans-serif;
font-size: 17px;
}
.form-box textarea {
font-family: 'Poppins', sans-serif;
font-size: 17px;
}
.get-start{
border: none;
border-radius: 4px;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
color:#ffffff;
padding: 10px 30px;
height: auto;
text-transform: uppercase;
background-color: red;
transition: .4s;
}
.get-start:hover{
background-color: #fff;
color: #333;
}
.get-quote-now{
border: none;
border-radius: 4px;
font-family: 'Open Sans', sans-serif;
font-weight: 700;

color:#ffffff;
padding: 10px 30px;
height: auto;
width: 100%;
text-transform: uppercase;
background-color: red;
transition: .4s;

}
.get-quote-now:hover{
background-color: #333;
color: #fff;
}


/*********************
ABOUT
**********************/

#about .section-title{
text-align: left;
padding-bottom: 15px;
margin: 0;
}
.red{
color: red;
}
#about .section-title h3{
position: relative;
font-size: 34px;
margin-bottom: 50px;
text-transform: uppercase;
font-weight: 700;
line-height: 34px;
/*font-family: 'Ubuntu', sans-serif;*/
}
#about .section-title h3:after{
left: 0;
margin-left: 0;
content: '';
background:
#ff0000;
height: 2px;
width: 60px;
position: absolute;
bottom: -30px;
}
#about .section-title p{
font-size: 16px;
line-height: 24px;
color:
#555;
font-family: 'Poppins', sans-serif;
}

#about{
padding: 50px 0;
}

.content{
padding: 0 50px;
}
.rights-list ul{
list-style-type: none;
margin: 0;
padding: 0;
}
.rights-box .rights-icon{
margin-bottom: 15px;
float: left;
margin-right: 30px;
width: 70px;
height: 70px;
border-radius: 30px 5px;
text-align: center;
line-height: 50px;
background-color: #fff;
box-shadow: 3px 2px 4px 3px #ccc;

transition: .3s;
color: black;
}
.rights-box .rights-icon:hover{
border-radius:0px;
color: #fff;
background-color: black
}

.rights-box .rights-icon i{
font-size: 24px;
margin-top: 22px;
display: block;
}

.rights-title{
font-size: 18px;
font-weight: 700;
color:
#444;
margin-bottom: 5px;
font-family: 'Poppins', sans-serif;
}
.rights-detail {
font-size: 16px;
line-height: 24px;
color:
#555;
font-family: 'Poppins', sans-serif;
}




/*********************
COUNTER
**********************/

#counter{
padding: 50px 0;
background:
#000 url(../img/counter-bg.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 300px;
top: 50%;
}
.counter-box{
border: 3px solid #fff;
border-radius: 90px 5px;
padding: 20px;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
text-align: center;
cursor: pointer;
}
.counter-box:hover{
transform: scale(1.1);
border-radius: 10px;
}
.counter-icon{
font-size: 60px;
margin-bottom: 8px;
color:#fff;
}
.iteration{
display: block;
color:#fff;
font-size: 60px;
line-height: 60px;
font-weight: 400;
}
.iteration-text{
color:#fff;
font-weight: bold;
font-family: 'Poppins', sans-serif;
text-transform: capitalize;
letter-spacing: 1px;
}




/*********************
PRACTICE-AREA
**********************/
#practice{
padding: 70px 0;
}
#practice .section-title{
text-align: center;
padding-bottom: 15px;
margin: 0;
}
#practice .section-title h3{
position: relative;
font-size: 34px;
margin-bottom: 50px;
text-transform: uppercase;
font-weight: 700;
line-height: 34px;
/*font-family: 'Ubuntu', sans-serif;*/
}
#practice .section-title h3:after{
content: '';
background:
#ff0000;
height: 2px;
width: 60px;
position: absolute;
bottom: -30px;
left: 50%;
margin-left: -30px;
}
.centered-info{
max-width: 800px;
margin: auto;
color:#777;
font-size: 16px;
font-weight: 300;
line-height: 25px;
font-family: 'Poppins', sans-serif;
}
.service-thumb{
margin-bottom: 10px;
text-align: center;
padding: 15px;
box-shadow: 0 0 15px
rgba(0,0,0,0.1);
}
.service-thumb .thumb-img img{
transition: all 0.5s ease;
}
.service-thumb:hover img{
-ms-transform: scale(1.2);
-moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
transform: scale(1.2);
background:
#ff0000;
color:
#fff;
border-radius: 5px 30px;
}
.thumb-img{
overflow: hidden;
}
.practice-title{
font-family: 'Poppins', sans-serif;
font-weight: 300;
text-transform: capitalize;
position: relative;
}
.practice-title::after{
content: '';
background:
#ff0000;
height: 2px;
width: 60px;
position: absolute;
bottom: -8px;
left: 50%;
margin-left: -30px;
}
.practice-info{
font-family: 'Poppins', sans-serif;
font-size: 15px;
color: #898989d9;
}
.shadow{
box-shadow:3px 3px 5px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}



/*********************
OUR-SERVICES
**********************/


#our-services{
padding: 70px 0;
background-color: #f9f9f9;
}
#our-services .section-title{
text-align: center;
padding-bottom: 15px;
margin: 0;
}
#our-services .section-title h3{
position: relative;
font-size: 34px;
margin-bottom: 50px;
text-transform: uppercase;
font-weight: 700;
line-height: 34px;
/*font-family: 'Ubuntu', sans-serif;*/
}
#our-services .section-title h3:after{
content: '';
background:
#ff0000;
height: 2px;
width: 60px;
position: absolute;
bottom: -30px;
left: 50%;
margin-left: -30px;
}

.our-service-thumb{
margin-bottom: 30px;
background:
#fff;
padding: 30px;
box-shadow: 0 0 15px
rgba(0,0,0,0.1);
}

.our-service-thumb .thumb-icon{
border: 1px solid
#ff0000;
width: 70px;
height: 70px;
border-radius: 30px 5px;
text-align: center;
margin: 0 auto;
margin-bottom: 0px;
margin-bottom: 20px;
transition: ease-in-out 0.3s;
-webkit-transition: ease-in-out 0.3s;
-moz-transition: ease-in-out 0.3s;
-ms-transition: ease-in-out 0.3s;
color:
#ff0000;
}
.our-service-thumb .thumb-icon:hover{
-ms-transform: scale(1.2);
-moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
transform: scale(1.2);
background:#ff0000;
color:#fff;
border-radius: 5px 30px
}

.our-service-thumb .thumb-icon i{
font-size: 24px;
margin-top: 22px;
}

.our-service-thumb  h4 {
color:
#454545;
font-size: 18px;
line-height: 26px;
text-align: center;
font-family: 'Poppins', sans-serif;
text-transform: capitalize;
}
.our-service-thumb  p{
color:
#777;
font-size: 14px;
font-weight: 300;
line-height: 25px;
text-align: center;

font-family: 'Poppins', sans-serif;
}



/*********************
OUR-TEAM
**********************/
#our-team{
padding: 70px 0;
}
#our-team .section-title{
text-align: center;
padding-bottom: 15px;
margin: 0;
}
#our-team .section-title h3{
position: relative;
font-size: 34px;
margin-bottom: 50px;
text-transform: uppercase;
font-weight: 700;
line-height: 34px;
/*font-family: 'Ubuntu', sans-serif;*/
}
#our-team .section-title h3:after{
content: '';
background:
#ff0000;
height: 2px;
width: 60px;
position: absolute;
bottom: -30px;
left: 50%;
margin-left: -30px;
}
.team-member{
border-radius: 15px;
text-align: center;
margin-bottom: 30px;
background:#fff;
padding-bottom: 10px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.team-member .team-mem-img-thumb{
margin-bottom: 14px;
overflow: hidden;
}

.team-member h4 {
font-family: 'Poppins', sans-serif;
margin-bottom: 2px;
text-transform: uppercase;
}
.position{
display: block;
font-family: 'Poppins', sans-serif;
margin-bottom: 4px;
text-transform: capitalize;
font-size: 14px;

}
.team-member ul {
list-style-type: none;
margin:0;
padding: 0;
}
.team-member ul li{
display: inline-block;
padding-right: 5px;
padding-left: 5px;
}

.social {
margin-top: 15px;

}
.social li a {
display: block;
height: 36px;
width: 36px;
color:#fff !important;
line-height: 36px;
text-align: center;
text-decoration: none !important;
background:#999;
transition: .4s;
}
.social li a:hover {
background-color: #333;
}


/*********************
CALL-TODAY
**********************/

#calltoday{
padding: 50px 0;
background-color: rgb(169,169,169);
}


.tag-lines{
text-align: center;
}
.tag-lines h2{
text-transform: uppercase;
margin-bottom: 10px;
font-size: 30px;
font-weight: 700;
}

.tag-lines h3{
margin-bottom: 25px;
font-size: 40px;
font-weight: 700
}


.tag-lines p{
max-width: 800px;
margin: 0 auto;
font-size: 20px;
line-height: 32px;
font-family: 'Poppins', sans-serif;

}


.tag-lines a{	
display: inline-block;
background: #000;
padding: 15px 35px;
color: #fff;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
margin-top: 25px;
border-radius: 4px;
text-decoration: none;
transition: .4s;
}
.tag-lines a:hover{	
background:#fff;
color:#000;

}


/*********************
PRICING
**********************/
#pricing{
padding: 70px 0;
background-color: #f0f0f0;
}
#pricing .section-title{
text-align: center;
padding-bottom: 15px;
margin: 0;
}
#pricing .section-title h3{
position: relative;
font-size: 34px;
margin-bottom: 50px;
text-transform: uppercase;
font-weight: 700;
line-height: 34px;
/*font-family: 'Ubuntu', sans-serif;*/
}
#pricing .section-title h3:after{
content: '';
background:
#ff0000;
height: 2px;
width: 60px;
position: absolute;
bottom: -30px;
left: 50%;
margin-left: -30px;
}

.pricing-listing{
list-style-type: none;
margin:0;
padding: 0;
}
.package-detail{
background:#fff;
padding: 40px 20px;
border-radius: 10px;
box-shadow: 3px 2px 11px -1px #ccc;
}
.package-detail h3 {
font-family: 'Poppins', sans-serif;
}
.package-price{
margin-bottom: 20px;
}
.package-price strong{
font-size: 48px;
color:#ff0000;
display: block;
font-family: 'Poppins', sans-serif;
}
.package-price span {
display: block;
color: #888;
font-family: 'Poppins', sans-serif;
}
.package-detail p{
text-align: center;
color: #777;
letter-spacing: 0;
border-top: 1px solid#eee;
font-size: 14px;
padding-top: 5px;
margin-top: 5px;
text-transform: uppercase;
}
.book-now{
margin-top: 30px;

}
.buy-now{
background:#ff0000;
color:#fff;
text-transform: uppercase;
font-size: 16px;
font-weight: 600;
padding: 10px 20px;
display: inline-block;
border-radius: 4px;
text-decoration:none !important;
transition: .4s;
font-family: 'Poppins', sans-serif;
}
.book-now a:hover{
background:#333;
color:#fff;

}

/*********************
GET-QUOTE
**********************/
#get-quote{
padding: 70px 0;
background-color: #fff;
}
#get-quote .section-title{
text-align: center;
padding-bottom: 15px;
margin: 0;
}
#get-quote .section-title h3{
position: relative;
font-size: 34px;
margin-bottom: 50px;
text-transform: uppercase;
font-weight: 700;
line-height: 34px;
/*font-family: 'Ubuntu', sans-serif;*/
}
#get-quote .section-title h3:after{
content: '';
background:
#ff0000;
height: 2px;
width: 60px;
position: absolute;
bottom: -30px;
left: 50%;
margin-left: -30px;
}
.contact{
margin-bottom: 30px;
border-bottom: 1px solid
#ddd;
padding-bottom: 30px;
text-align: left;
}
.contact > span {
color:
#ff0000;
float: left;
font-size: 30px;
line-height: 55px;
text-align: center;
width: 60px;
height: 60px;
border: 1px solid #ff0000;
box-shadow: 0 0 10px
rgba(0,0,0,0.1);
/*background: #fff;*/
border-radius: 5px;
}
.information{
margin-top: 5px;
padding-left: 80px;
}

.information > strong {
color:#000;
display: table;
font-size: 16px;
font-weight: 700;
margin-bottom: 5px;
text-transform: uppercase;
font-family: 'Poppins', sans-serif;
}

.information p {
font-family: 'Poppins', sans-serif;
color:#777;
font-size: 16px;
font-weight: 300;
margin: 0;
}


.contact-form .form-control{
border-radius: 4px;
box-shadow: none;
font-size: 18px;
margin-top: 10px;
margin-bottom: 10px;
-webkit-transition: all ease-in-out 0.4s;
transition: all ease-in-out 0.4s;
}
.contact-form input {
border: 2px solid#f0f0f0 !important;
height: 55px;
text-transform: capitalize;
font-family: 'Poppins', sans-serif;
font-size: 16px !important;
}
.contact-form textarea {
font-size: 16px !important;
text-transform: capitalize;
font-family: 'Poppins', sans-serif;
}
.contact-form #submit {
background-color:#ff0000;
border: none;
border-radius: 4px;
font-family: 'Poppins', sans-serif;
color:#ffffff;
padding: 10px 30px;
height: auto;
width: 100%;
text-transform: uppercase;
transition: .4s;
}
.contact-form #submit:hover {
background-color: #555;

}

/*********************
FOOTER
**********************/
#footer{
background-color: #f4f4f4;
padding:70px 0;
}

.author{
text-align: center
}
.author h3 {
font-family: 'Poppins', sans-serif;
font-size: 20px
margin-bottom:0;
}
.author p{
margin: 0;
font-family: 'Poppins', sans-serif;
}

/*********************
DARK-MODE-THEME
**********************/
#darkmode-nav{
	color: #fff !important; 
}
.darkmode-bg{
	background-color:#18191a !important;
	color: #fff !important;
	transition-property:background-color;
	transition-duration:.5s;
	transition-timing-function: ease-in-out;
}

.darkmode-content{

	background-color:#242526 !important;
	color: #fff !important;
	border-radius: 10px !important;
	border-bottom: 0px;
	box-shadow: none;
	color: #fff !important;
	transition-property:background-color;
	transition-duration:.5s;
	transition-timing-function: ease-in-out;
}
.rights-icon-dark{
	box-shadow: none !important;
	background-color:#3d3f40 !important;
	color: #fff;
}
.dark-text{
	color: #fff !important;
}
.dark-mode-btn{
	background-color: #3c3d3e87;
}

/*********************
DARK-MODE-TOGGLER
**********************/


.dark-mode-toggler{
	position: fixed;
	top: 50%;
	right: 0px;
	margin: 0;
	padding: 0;
	width: 100px;
	height: 30px;
	z-index: 1;
	border :1px solid #000;
	cursor: pointer;
	list-style-type: none;
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
}
.dark-mode-toggler.active{
	border-color: #fff;

}

.dark-mode-toggler li {
	width: 100%;
	height: 60px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;

}

.dark-mode-toggler.active li{
	transform: translateY(-30px);

} 


.dark-mode-toggler li span {
	display: block;
	width:100%
	height: 30px;
	line-height: 30px;
	color: #262626 !important;
	background-color: #fff;
}

.dark-mode-toggler li span:nth-child(1){
	background: #262626;
	color: #fff !important;
}